In [13]:
import pandas as pd
import numpy as np
import urllib.request
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import pandas as pd
import glob
import os

from konlpy.tag import Okt
okt=Okt()

In [14]:
data = pd.read_csv("해외여행지_크롤링.csv", encoding='utf-8')

In [8]:
text = data[['내용']].iloc[10000:20000] #범위 설정
text

                                                      내용
10000  영국 런던 여행 Day 2 (1) -피쉬앤칩스 맛집, V&A 빅토리아앤알버트 박물관...
10001  런던에는 공항이 여러개 있어서, 런던행\n비행기 티켓 발권 하실때, 잘보고 구입\n...
10002  런던베이글뮤지엄 도산점 🥯🇬🇧\nLondon Bagle Museum\n평일 웨이팅 ...
10003  안녕하세요~ 모니카입니다.\n저녁에 제법 쌀쌀합니다. 내일 제주여행에 갈 짐을 싸야...
10004  안국역(북촌) 인산인해 베이글\n런던베이글 뮤지엄\n50m\n© NAVER Corp...
...                                                  ...
19995  태국 자유여행 ♡ 치앙마이에서 방콕\n슬리핑 야간기차 SRT\n(SPECIAL EX...
19996  룸피니 공원, 벤짜낏띠 공원\n7박9일 방콕(&후아힌) 자유여행\n2022.10.0...
19997  안녕하세요. 트래블노마드류입니다. 오늘은 동남아여행지 추천 포스팅을 준비해봤습니다....
19998  ☆ 옆지기와 #방콕자유여행 ☆\n*일정: 2023.2.13~2.17(4박5일)\n♤...
19999  3일차\n하얏트 리젠시 조식\n숙소 체크아웃\n빤따리(점심)\n발마사지\n부츠(Bo...

[10000 rows x 1 columns]

### 명사 토큰화

In [9]:
text['내용'] = text.apply(lambda row: okt.nouns(row['내용']), axis=1)

In [10]:
text

                                                      내용
10000  [영국, 런던, 여행, 피쉬앤칩스, 맛집, 빅토리아, 앤, 알버트, 박물관, 유럽,...
10001  [런던, 공항, 개, 런던, 행, 비행기, 티켓, 발권, 때, 구입, 해, 런던, ...
10002  [런던, 베이글, 뮤, 지엄, 도산, 점, 평일, 웨이, 팅, 포장, 메뉴, 가격,...
10003  [모니카, 저녁, 제법, 내일, 여행, 짐, 짐, 무거워, 질, 것, 제주도, 거,...
10004  [안국역, 북촌, 인산인해, 베이글, 런던, 베이글, 뮤, 지엄, 런던, 베이글, ...
...                                                  ...
19995  [태국, 자유여행, 치앙마이, 방콕, 슬, 리핑, 야간, 기차, 후기, 여행, 포스...
19996  [룸피, 공원, 벤짜낏띠, 공원, 박, 방콕, 후아힌, 자유여행, 일, 월, 이번,...
19997  [트래블, 노마, 드류, 오늘, 동남아, 여행지, 추천, 포스팅, 준비, 동남아, ...
19998  [옆, 지기, 일정, 박, 여행, 기내, 단상, 출발, 인천, 공항, 항공, 도착,...
19999  [하얏트, 리젠시, 조식, 숙소, 체크아웃, 따리, 점심, 발, 마사지, 부츠, 쇼...

[10000 rows x 1 columns]

In [12]:
text.to_csv("10000~20000해외여행지_토큰화.csv", encoding="utf-8", index=False)